In [1]:
num1 = 25
print(type(num1))

<class 'int'>

In [9]:
num2 = float(5)
print(type(num2))

<class 'float'>

In [6]:
print(num2)

5

In [10]:
word = '15'
print(float(word))

15.0

In [12]:
name = input('Please provide your name:')

Please provide your name:Ade

In [15]:
age = int(input('Please provide your age:'))

Please provide your age:25

# Arithimetic Operator

In [14]:
num1 = 25
num2 = 15

print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 * num2)
print(num1 % num2)
print(num1 // num2)
print(num1 ** num2)

40
10
1.6666666666666667
375
10
1
931322574615478515625

# Compairism Operators

In [15]:
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

True
False
True
False
False
True

# Logical Operators

In [16]:
print(num1 >= num2 and num1 < num2)
print(num1 >= num2 or num1 < num2)
print(not num1)

False
True
False

# Membership operators

In [17]:
word = 'python'
print('p' in word)
print('P' in word)

True
False

In [18]:
# Identity Operators

In [20]:
print(num1 is num2)
print(num1 is not  num2)

False
True

In [21]:
cloth = 50
cp = 6000
sp = 150
tsp = sp *  cloth
profit = tsp -cp
print(f'The profit made on 50 Meteres Squad cloth is {profit}')

The profit made on 50 Meteres Squad cloth is 1500

# Exercises
# 1. Aja bought 96 tin of milk for 3360 and sold them at 50 naira each calculate the profit of the 96 tins of milk
# 2. A trader bought a basket of tomatoes for 1800 some of them got damage during transportation the rest were sold at a total amount of 1565, did he gain or loss